
@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../fonts/AvenirNextLTPro-Regular.eot') format('embedded-opentype'), url('../fonts/AvenirNextLTPro-Regular.svg') format('svg'), url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
}
.header {
background:url(../images/bg2.png) no-repeat;
image-rendering:optimizeSpeed;
image-orientation:auto;
height:100vh;
background-size:cover;
position:relative;  


}
/*.Name {
background:url(../imges/colorful.png) repeat-x;

}*/

.wrapper{
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
background:rgb(166, 35, 60);
opacity: 0.8;
overflow: hidden;

}
.contact {
    overflow:hidden;
}
.contact p {

color:white;
}


.Name h1 {
   
    font-size:50px;
      padding: 0 0px  36px 0;
    color:#FFEE6D;
      text-shadow: rgb(212, 138, 228) 0px 4px 0;
      font-family:AvenirNextLTPro-Regular;
}
.Name p {
width:50%;
color:white;
  font-family:AvenirNextLTPro-Regular;
}

.eduation {
 background: url(../images/books.png) no-repeat , url(../images/quotebox4.png) no-repeat;
  background-position: 825px 185px, 0 0;
  background-size: 28%,100%;
  height: 100vh;

}
.eduation_cntnt h3{
    color: rgb(70, 136, 148);
  font-size: 60px;
  text-align: center;
  padding: 0 0 65px 0;
}
.eduation_cntnt h4{
    color:rgb(20, 77, 87);
    font-size:35px;
}
.eduation_cntnt p {
font-size:22px;
}
.csd {
  width: 50px;
  height: 50px;
  display: block;
  margin: 170px auto 0;
  padding: 0;
  border-radius: 50%;
  position: relative;
  z-index: 500;
  outline: 0;
  background-color: rgba(255,255,255,0.5);
  transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transform: all .4s ease-out;
  -o-transform: all .4s ease-out;
}
    .csd i {
    font-size: 50px;
  padding: 0 0 0 8px;
  color:rgb(166, 35, 60);
    }
.skills {
background:url(../images/quotebox1.png) repeat;
/*height:100vh;*/
}
.skills h3 {
  padding: 24px 0px 0 0;
  font-size:30px;
}
.skil_heading {
text-align:center;
font-size:60px;
color:#6C2060;

}
.Work_Done {
background: url(../images/work.png) no-repeat, url(../images/quotebox8.png) no-repeat; 
 background-position: 825px 185px, 0 0;
  background-size: 28%,100%;
  height:100vh;
}
.Work_Done .Work_Done_content h2 
{
text-align:center;
font-size:60px;
color:#CD8411;
}
.Work_Done_content a {
display:block;
font-size:22px;
color:#494E4E;

}
.Work_Done_content_heading {
padding:0 0 5                   0px 0;
}
.Work_Done_content  h3{
    color:#8B5602;
    font-size:35px;
}

.projects {
background:url(../images/quotebox11.png) repeat;
height:100vh;
}
 
/*...............media queries............*/

@media (max-width: 520px) {
    .eduation {
    background-position: 0 -81px, 0 0;
  background-size: 98%,cover;
  height: 100vh;
  padding: 40px 0 0 0;
    }
    .Name p {
    width: 100%;
    }
    .Name h1 {
    font-size:40px;
    }

}